_*
.classpath
.DS_Store
.gimp
.gradle
.idea
.metadata
.project
.settings
.vscode
*.iml
*.ipr
*.iws
*.jks
*.launch
*.log
*.tmp
*.xcf
*~
/*.txt
/archive
/assets-src
/classes
/dev
/dist
/src/generated
/src/main/java/archive
/src/main/resources/assets/minecraft
/src/test
/tests
/tmp
bin
build
desktop.ini
eclipse
forge*changelog.txt
mcmodsrepo
out
run
signing.*
/src/main/java/archive
/src/main/resources/assets/minecraft
tests
Thumbs.db
tmp
todo.*
