.classpath
.gimp
.gradle
.idea
.metadata
.project
.settings
.vscode
.DS_Store
*~
*.iml
*.ipr
*.iws
*.jks
*.launch
*.log
*.tmp
*.xcf
/*.txt
/archive
/assets-src
/classes
/dev
/dist
/tmp
bin
build
desktop.ini
eclipse
out
run
signing.*
/*/src/generated
/*/src/main/java/archive
/*/src/main/resources/assets/minecraft
/*/tests
